body {
    font-family: 'Courier New', Courier, monospace;
}

nav ul li {
    list-style: none;
    padding: 1rem;
}

nav ul li:hover {
    color: #102B3F;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

#hobbies {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    text-align: center;
    margin: auto;
}

#experiences {
    margin-top: 1rem;
    margin-bottom: 5rem;'; '
    text-align: center;
}

.experience {
    padding: 1rem;
    width: 70%;
    margin: auto;
}

#hero {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;

    margin-top: 5rem;
    margin-bottom: 5rem;
}

img {
    border-radius: 5%;
    border-width: 1px;
    border-color: black;
    border-style: solid;

}
hr {
    width: 50%;
    border-radius: 60%;
    margin-top: 1rem;
}


h2 {
    text-align: center;
    margin-top: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: #102B3F;
}